*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: content-box;
}

body{
    background-color: #96959b;
}

*{
  font-family: 'Verdana', sans-serif !important; 
  font-size: 20px;
  color: white;
  text-decoration: none !important;
}






/* =========================| NAVBAR |======================== */


.navbar{
  background-color: #333138;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar__list{
  display: flex;
  list-style-type: none;
  padding: 1rem;
  align-items: center;
  margin-bottom: 0px;
}

.navbar__list__item{
  background-color: #1b1a1e;
  padding: 0.5rem;
  margin: 0.3rem ;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

.navbar__list li{
  transition: all 0.1s;
}

.navbar__list li a{
  font-family: Verdana;
  font-size: 35px;
}

.navbar__logo {
  height: 3rem;
  margin-left: 2rem;
  z-index: 400;
}


/* animación de la navbar     vvvvvvvvvvvvvv      */


.navbar__list__item:hover{
  background-color: #4e4c56;
}

.navbar__list li:hover{
  transform: scale(1.1);
}


/* =======================| FIN DE LA NAVBAR |============================ */



/* ========================= TITULOS =========================== */


.title-container{
  padding: 0.8rem;
  background-color: #333138;
  width: max-content;
  height: 3rem;
  display: flex;

  margin: auto;
  margin-top: 1.3rem;
}

.title-container__title{
  margin: auto;
  align-self: center;
  font-size: 38px;
  color: white;
  justify-self: center;
}


/* =======================| MENU NOTICIAS INDEX |======================= */

.menu__gridContainer{
  /* border: 2px solid black; */
  display: grid;
  grid-template-rows: 12rem 12rem 12rem;
  grid-template-columns: 63% 27%;
  /* background-color: #373737; */

  grid-template-areas: 
  "main other"
  "main other"
  "main other";

  justify-content: center;

  margin-top: 1.3rem;
}

.menu__gridContainer div{
  outline:3px solid #000105;
}


.menu__gridContainer__main{
  display: grid;
  position: relative;
  background-color: #333138;
  grid-area: main;
}

/* ===titulo e imagen noticia principal=== */

.menu__gridContainer__main__title{
  color: #e1dddd;
  font-weight: 50;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
  align-self: flex-end;
  position: absolute;
  margin-bottom: 10rem;
  justify-self: center;
}

.menu__gridContainer__main__img{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  justify-self: center;
  width: 70%;
  height: 54%;
  object-fit: cover;
}

.menu__gridContainer__main__subtitle{
  color: #e1dddd;
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
}


/* ================== noticias secundarias ================ */

.menu__gridContainer__other{
  grid-area: other;
  display: grid;
  grid-template-rows: 12rem 12rem 12rem 12rem;
  grid-template-columns: 100%;
  overflow: auto;
  background-color: #333138;
  z-index: 1000;
}

.otherNew{
  margin: 1rem 0.8rem;
  /* background-color: #522626; */
  background-color: #222025;
  display: grid;
  align-items: center;
  grid-template-areas:
  "otherNewImage otherNewTitle"
  "otherNewImage otherNewDate";

  transition: scale 0.25s;

}

.otherNew img{
  padding: 0.5rem;
  grid-area: otherNewImage;
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 6%;
}

.otherNew h3{
  font-family: 'Ysabeau', sans-serif;
  font-size: 23px;
  font-weight: 500;
  text-align: left;
  align-self: normal;
  margin-top: 0.8rem;
  grid-area: otherNewTitle;
  color: #d2cdcd;


}

.otherNew__date{
  grid-area: otherNewDate;
  font-size: 18px;
  font-family: 'Ysabeau', sans-serif;
  justify-self: end;
  margin-right: 1rem;
  color: #d2cdcd;
}


.otherNew:hover{
  scale: 1.02;
}

.otherNew:hover h3{
  color: #ede9e9;
  text-decoration: underline 2px solid white !important;
}


/* ===========================| FOOTER |=============================== */

.footer{
  width: 100%;
  height: 7.7rem;
  background-color: #171619;
  color: #d2cdcd;
  margin-top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer__logo{
  height: 95%;
}

h6{
  margin: 0 15% 0 15%;
  text-align: center;
}







/* ====================================================================================
====================================================================================
=============================CONTACTO.HTML============================================================
====================================================================================
================================================================================================ */






.contact-container{
  display: flex;
  justify-content: center;
}

.contact-container__card{
  height: 30rem;
  width: 21rem;
  background-color: #222025;
  margin: 3rem;
  color:#e1dddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

.contact-container__card img{
  width: 300px;
  margin: 1rem;

}

.contact-container__card h2{
  margin: 2rem;
  font-size: 40px;
}

.contact-container__card a{
  color:#e1dddd;
  transition: all 0.2s
}






.contact-container__card:hover{
  transform: scale(1.06);
  color: white;
}

.contact-container__card:hover a{
  color: white;
  text-decoration: underline 2px solid white;
}







/* ===================================================================================================================
===================================================================================================================
=======================================TIENDA.HTML=====================================================================
=====================================================================
===================================================================================================================
========================================================================================================================================== */





.store-container{
  display: grid;
  grid-template-rows: 10vw 10vw 10vw;
  grid-template-columns: 55vh 55vh;
  justify-content: center;
  margin: 4rem;
}

.store-container__card{
  background-color: #222025;
  margin: 0.5rem;
  border-radius: 5px;
  display: flex;
  transition: all 0.15s;
}

.store-container__card img{
  margin: 0.3rem;
  width: 155px;
  height: 155px;
  object-fit: cover;
}

.store-container__card h2{
  color: white !important;
  align-self: center;
  margin: 0.5rem;
  font-size: 24px;
}

.store-container__card h3{
  align-self: center;
  margin: 0.2rem;
  color: #2ba30a;
  font-size: 30px;
  text-decoration: underline 2px solid #2ba30a !important;
}

.store-container__card:hover{
  transform:scale(1.04);
}

.store-container__card:hover img{
  object-fit: contain;
  background-color: white;
}










/* =========================================================================================================
==================================================================================================================================
==================================================================================================================================
====================================================COMUNIDAD.HTML==============================================================================
========================================================================================================
==================================================================================================================================  */




.community-container{
  display: flex;
  justify-content: center;
}

.community-container__card{
  height: 30rem;
  width: 21rem;
  background-color: #222025;
  margin: 3rem;
  color:#e1dddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

.community-container__card img{
  width: 300px;
  margin: 1rem;

}

.community-container__card h2{
  margin: 2rem;
  font-size: 40px;
  text-align: center;
}

.community-container__card a{
  color:#e1dddd;
  transition: all 0.2s
}

.community-container__card:hover{
  transform: scale(1.06);
  color: white;
}

.community-container__card:hover a{
  color: white;
  text-decoration: underline 2px solid white;
}


/* ===============================================================================================================
===============================================================================================================
===============================================================================================================
=====================================JUEGOS.HTML==========================================================================
==========================================================================
=============================================================================================================== */






.games-container{
  display: grid;
  grid-template-rows: 12rem 12rem 12rem 12rem;
  grid-template-columns: 100%;
  overflow: auto;
  background-color: #333138;
  z-index: 1000;
  height: 35rem;
  width: 40rem;
  margin: auto;
  margin-top: 1.3rem;
}

.games-container__game{
  margin: 1rem 0.8rem;
  background-color: #222025;
  display: flex;
  align-items: center;
  transition: scale 0.25s;
}


.games-container__game__image{
  height: 180px;
  width: 180px;
  margin-left: 10px;
}


.games-container__game__info h2{
  font-size: 30px;
  color: white;
}

.games-container__game__info{
  margin-left: 10px;
  color: white;
}

.games-container__game__platform__image{
  height: 120px;
  width: 120px;
}

.games-container__game__platform{
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.games-container__game__platform h3{
  color: white;
  margin-top: 10px;
  font-size: 21px;
  text-align: center;
}
